.calendar-preview {
    background-color: white;
    padding:@margin*3;
    position: absolute;
    grid-column: center / span 1;
    grid-row: center / span 1;
    z-index: 20;
    display: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    border-top: 4px solid @clr-tertiary5;
}

.track1base {
    background-color: @clr-primary7;
    background-image: url('../img/patterns/asfalt-dark.png');
}

.track2base {
    background-color: @clr-secondary7;
    background-image: url('../img/patterns/dark-circles.png');
}

.track3base {
    background-color: @clr-tertiary7;
    background-image: url('../img/patterns/dark-stripes.png');
}

.track4base {
    background-color: @clr-primary7;
    background-image: url('../img/patterns/black-thread.png');
}

.track5base {
    background-color: @clr-secondary7;
    background-image: url('../img/patterns/dark-leather.png');
}

.track6base {
    background-color: @clr-tertiary7;
    background-image: url('../img/patterns/arabesque.png');
}

.fc-event.track1 {
    .track1base();
    border-color: darken(@clr-primary6,10%);
}
.fc-event.track2 {
    .track2base();
    border-color: darken(@clr-secondary6,10%);
}
.fc-event.track3 {
    .track3base();
    border-color: darken(@clr-tertiary6,20%);
}
.fc-event.track4 {
    .track4base();
    border-color: darken(@clr-primary6,10%);
}
.fc-event.track5 {
    .track5base();
    border-color: darken(@clr-secondary6,10%);
}
.fc-event.track6 {
    .track6base();
    border-color: darken(@clr-tertiary6,20%);
}

.toggletrack[data-track="track1"].visible, .toggletrack[data-track="track1"]:hover {
    .track1base();
}

.toggletrack[data-track="track2"].visible, .toggletrack[data-track="track2"]:hover {
    .track2base();
}

.toggletrack[data-track="track3"].visible, .toggletrack[data-track="track3"]:hover {
    .track3base();
}

.toggletrack[data-track="track4"].visible, .toggletrack[data-track="track4"]:hover {
    .track4base();
}

.toggletrack[data-track="track5"].visible, .toggletrack[data-track="track5"]:hover {
    .track5base();
}

.toggletrack[data-track="track6"].visible, .toggletrack[data-track="track6"]:hover {
    .track6base();
}

.fc-event.calevent-selected {
    background-color: @clr-tertiary1;
    border-color: @clr-tertiary5;
}
.layout-calendar .contentcontrols {
    margin-bottom: @margin*2;
    @media screen and (max-width: @breakpoint1) {
        flex-wrap:wrap;
    }
}
.layout-calendar .contentcontrols button {
    white-space: nowrap;
    color:@clr-gray2;
    &.visible, &:hover {
        color:@clr-primary8;
    }
    &.visible:hover {
        color:@clr-gray2;
        background-color: @clr-gray5;
        background-image: none;
    }
}

.layout-calendar .fc-toolbar .fc-right, .layout-calendar  .fc-toolbar .fc-left {
    @media screen and (max-width:@breakpoint2) {
        float:none;
    }
}
.layout-calendar .fc .fc-toolbar > * > * {
    @media screen and (max-width:@breakpoint2) {
        float:none;
    }
}

.calendar {
    margin-bottom: (@margin*3);
}
