<div class="cta" id="cta-tickets">
    <h2 class="herottl">Tickets zijn beschikbaar!</h2>   
    <p>Fri3d Camp is een gezinsvriendelijk zomerkamp voor hackers, makers en DIY'ers, van 18 tem 20 augustus 2018 op domein De Kluis (St-Joris-Weert). Alle info vind je op <a href="http://www.fri3d.be/">www.fri3d.be</a></p> 
    <div class="linkbar"><a class="primary left" href="https://tickets.fri3d.be/">Koop je tickets!</a> <a href="http://fri3d.be/deelnemen/faq.html" class="secondary right">Check de FAQ</a></div>
</div>