<!doctype html>
<html class="no-js" lang="nl">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | Fri3d Camp 2018 programma</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include stylesheets.html %}
    {% include headerscripts.html %}
    {% include headericons.html %}

    {% include opengraph.html %}

</head>
<body class="page layout-{{ page.layout }}">
