<div class="navbar">    
    <nav class="quicknav">
        <div class="navitems">
            <a href="{{ site.baseurl }}/" {%if 'home' == page.navitem %} class="selected"{% endif %}>Teasers</a>
            <a href="{{ site.baseurl }}/calendar.html" {%if 'calendar' == page.navitem %} class="selected"{% endif %}>Kalender</a>
            <a href="{{ site.baseurl }}/activities/" {%if 'list' == page.navitem %} class="selected"{% endif %}>Zoeken</a>
            <a href="{{ site.baseurl }}/contributors/" {%if 'contributors' == page.navitem %} class="selected"{% endif %}>Contributors</a>
            <a href="{{ site.baseurl }}/locations/" {%if 'locations' == page.navitem %} class="selected"{% endif %}>Locaties</a>
        </div>
    </nav>
    <a href="#" class="navtoggle">
        <i class="material-icons">menu</i>
    </a>
</div>
