<div class="navbar">
    <span class="sitettl"><img class="minilogo" src="{{ site.baseurl }}/img/minibrand.svg" alt="Fri3d Camp"><span class="visuallyhidden">Fri3d Camp </span>Programma</span>
    <nav class="quicknav">
        <div class="navitems">
            <a href="{{ site.baseurl }}/calendar.html" {%if 'calendar' == page.navitem %} class="selected"{% endif %}>Kalender</a>
            <a href="{{ site.baseurl }}/list.html" {%if 'list' == page.navitem %} class="selected"{% endif %}>Lijst</a>
            <a href="{{ site.baseurl }}/tags.html" {%if 'tags' == page.navitem %} class="selected"{% endif %}>Tags</a>
            <a href="{{ site.baseurl }}/mijnprogramma.html" {%if 'myprogram' == page.navitem %} class="selected"{% endif %}>Mijn Programma</a>
        </div>
    </nav>
    <a href="#" class="navtoggle">
        <i class="material-icons">menu</i>
    </a>
</div>
