<meta property="og:url"                content="{{ site.url }}{{ page.url  }}/" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{ page.title }} | Fri3d Camp 2018 Programma" />
<meta property="og:description"        content="Fri3d Camp is een gezinsvriendelijk zomerkamp voor hackers, makers en DIY'ers." />
{% if page.socialimage %}
<meta property="og:image"              content="{{ site.url }}{{ site.baseurl }}/img/{{ page.socialimage }}" />
<meta name="twitter:image:src"         content="{{ site.url }}{{ site.baseurl }}/img/{{ page.socialimage }}"/>
<meta property="fb:app_id"             content="543312395742355" />
{% else %}
<meta property="og:image"              content="{{ site.url }}{{ site.baseurl }}/img/site_social_img.jpg" />
<meta name="twitter:image:src"         content="{{ site.url }}{{ site.baseurl }}/img/site_social_img_square.jpg"/>
<meta property="fb:app_id"             content="543312395742355" />
{% endif %}
<meta name="twitter:card"              content="summary_large_image">
