<header class="pageheader">
    {% include navbar.html %}
    <nav class="breadcrumb"><i class="material-icons">home</i> <a href="http://www.fri3d.be/">Fri3d Camp 2018</a>
        &gt; <a href="{{ site.baseurl }}/">Programma</a>
        {% if 'location' == page.layout %}
        &gt; <a href="{{ site.baseurl }}/locations/">Locaties</a>
        {% elsif 'contributor' == page.layout %}
        &gt; <a href="{{ site.baseurl }}/contributors/">Contributors</a> {% endif %}
        {% if 'calendar' != page.layout %} &gt; {{ page.title }}{% endif %}</nav>
</header>
<div class="pagewrapper">
    <div class="contentwrapper">
