<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans:400,700|Ubuntu+Mono:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
{% if 'calendar' == page.layout %}
<link href='{{ site.baseurl }}/vendor/fullcalendar-3.9.0/fullcalendar.min.css' rel='stylesheet' />
<link href='{{ site.baseurl }}/vendor/fullcalendar-3.9.0/scheduler.min.css' rel='stylesheet' />
<link href='{{ site.baseurl }}/vendor/fullcalendar-3.9.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
{% endif %}
