{% include header.html %}
{% include pageheader.html %}
<article class="contentnode activity">
    <header>
        <h1>{{ page.title }}</h1>
        <p><a href="#">Toevoegen aan 'Mijn Programma'</a></p>
    </header>
    <section class="main">
        {{ content }}
        <footer class="activity-footer">
            {% if page.depends_on %}
            <div class="footerblock">
                <h2>Opgelet</h2>
                <p>Je moet ook deze activiteit{% if page.depends_on.size > 1 %}en{% endif %} volgen:</p>
                <ul class="activities-list">
                    {% for item in site.activities %}
                        {% for dep in page.depends_on %}
                            {% if item.name == dep %}                                
                                {% include li-activity.html %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="footerblock">
                <h2>Voor wie?</h2>
                <p>{{ page.audience }} <a href="#" class="tooltip" data-content="Tenzij specifiek anders vermeld, is elke activiteit (ook) geschikt voor volwassenen"><i class="material-icons">info</i></a></p>
            </div>
            {% if page.tags %}
            <div class="footerblock">
                <h2>Tags</h2>
                <div class="taglist">
                    {% for tag in page.tags %}
                    <a class="tag" href="{{site.baseurl}}/list.html#tag={{tag}}">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </footer>
    </section>
    <section class="sidebar1">
        <div class="sideblock">
            <h2>Wanneer?</h2>
            <ol class="timeslots">
                {% for slot in page.timeslots %}
                <li>
                    <time datetime="{{ slot.start }}">{{ slot.start | date: "%a %R" }}</time> - <time datetime="{{ slot.end }}">{{ slot.end | date: "%R" }}</time><br />
                    {% for item in site.locations %}
                        {% if item.name == slot.location %}
                        <a href="{{site.baseurl}}/locations/{{ slot.location }}.html">{{ item.title }}</a>
                        {% endif %}
                    {% endfor %}
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="sideblock">
            <h2>Type</h2>
            {% for item in site.data.metadata.types %}
                {% if item.name == page.type %}
                <p>{{ item.desc }} <a href="#" class="tooltip" data-content="{{ item.longdesc }}"><i class="material-icons">info</i></a></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="sideblock">
            <h2>Organisator</h2>
            {% for item in site.contributors %}
                {%capture slugname %}{{ item.title | slugify }}{% endcapture %}
                {% if slugname == page.organisator %}
                <p class="person"><a href="{{site.baseurl}}/contributors/{{slugname}}">{{item.title}}</a></p>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <section class="sidebar2">
        <div class="sideblock">
            <h2>Duur</h2>
            <time datetime="P{{ page.duration }}M">{{ page.duration }} minuten</time>
            {% for item in site.data.metadata.durtypes %}
                {% if item.name == page.durtype %}
                <p>{{ item.desc }} <a href="#" class="tooltip" data-content="{{ item.longdesc }}"><i class="material-icons">info</i></a></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="sideblock">
            <h2>Aantal deelnemers</h2>
            <p class="participants">{{ page.participants }} <a href="#" class="tooltip" data-content="Het maximum aantal deelnemers kan bepaald worden door de locatie of door beschikbaarheid van materiaal. Zorg dat je op tijd aanwezig bent om te kunnen deelnemen."><i class="material-icons">info</i></a></p>
        </div>
        <div class="sideblock">
            <h2>Kostprijs</h2>
            <p>
                {% if page.cost %}
                {{ page.cost }}
                {% else %}
                Geen extra kostprijs
                {% endif %}
            </p>
        </div>
    </section>
    <section class="admintools">
        <ul>
            <li>
                <a href="#">Bewerken</a>
            </li>
            <li>
                <a href="#">Verbergen</a>
            </li>
        </ul>
    </section>
    <div class="tooltip-content"><p>tooltip content</p></div>
</article>
{% include footer.html %}
