{% include header.html %}
{% include pageheader.html %}
<p>{{content}}</p>

<div class="contentcontrols">
    <span class="label">Toon tracks</span>
    <button class="toggletrack visible" data-track="track1"><i class="material-icons">visibility</i> Track 1</button>
    <button class="toggletrack visible" data-track="track2"><i class="material-icons">visibility</i> Track 2</button>
    <button class="toggletrack visible" data-track="track3"><i class="material-icons">visibility</i> Track 3</button>
    <button class="toggletrack visible" data-track="track4"><i class="material-icons">visibility</i> Track 4</button>
    <button class="toggletrack visible" data-track="track5"><i class="material-icons">visibility</i> Track 5</button>
    <button class="toggletrack visible" data-track="track6"><i class="material-icons">visibility</i> Track 6</button>
</div>
<div id='calendar'></div>

<div class="popover-wrapper">
    <div class="calendar-preview"><h2></h2>
        <p class="desc"></p>
        <p class="meta"><span class="location"></span> <span class="type"></span></p>
        <p><a class="link" href="/activity.html">Meer details</a></p>
    </div>
</div>

{% include footer.html %}
