{% include header.html %}
{% include pageheader.html %}
<p>{{content}}</p>

<div id="calendar" class="calendar"></div>

<div class="popover-wrapper">
    <div class="calendar-preview"><h2></h2>
        <div class="desc"></div>
        <p class="meta"><strong>Locatie:</strong> <span class="location"><a href="#"></a></span></p> <p class="meta"><strong>Type:</strong> <span class="type"></span></p>
        <p><a class="link" href="#">Meer details</a></p>
    </div>
</div>

{% include footer.html %}
