{% include header.html %}
{% include pageheader.html %}
<article class="contentnode location">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <section class="main">
        <div class="sideblock-map">
            <img src="{{ site.baseurl }}/img{{ page.id }}.jpg" />
        </div>
    </section>
    <section class="sidebarfull">
        {% if content != empty %}
        <div class="sideblock">
            {{content}}
        </div>
        {% endif %}
        <div class="sideblock sideblock-map">
            <h2>Activiteiten</h2>
            <ul class="activities-list">
            {% for item in site.activities %}            
                {% for slot in item.timeslots %}
                    {% if slot.location == page.name %}
                    {% include li-activity-slot.html %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </section>
</article>
{% include footer.html %}
